@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Inter:wght@400;600;700;900&display=swap");

:root {
  --fonte-primaria: "Inter", sans-serif;
  --fonte-secundaria: "Fira Code", monospace;

  --tamanho-theme-toggle: 4rem;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--cor-fundo);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background 0.5s ease, color 0.5s ease;
}

.theme-button {
  margin: 40px 0 0 0;
  display: flex;
  gap: 30px;
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  width: var(--tamanho-theme-toggle);
  height: var(--tamanho-theme-toggle);
  color: var(--cor-base);
  transition: transform 0.5s ease;
  overflow: hidden;
  border-radius: 50px;
}

.theme-toggle:hover,
.theme-toggle:focus {
  cursor: pointer;
  transform: scale(1.1);
}

.theme-toggle i {
  font-size: var(--tamanho-theme-toggle);
  position: absolute;
  transition: transform 0.5s ease, opacity 0.5s ease, color 0.5s ease;
}

.fa-sun {
  color: var(--cor-texto);
  opacity: 0;
  transform: translateX(50px);
}

.fa-moon {
  color: var(--cor-texto);
  transform: translateX(0px);
}

.theme-checkbox {
  display: none;
}

.theme-checkbox:checked ~ .theme-toggle .fa-sun {
  opacity: 1;
  transform: translateX(0px);
}

.theme-checkbox:checked ~ .theme-toggle .fa-moon {
  opacity: 0;
  transform: translateX(-50px);
}

.lang-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  width: var(--tamanho-theme-toggle);
  height: var(--tamanho-theme-toggle);
  color: var(--cor-base);
  transition: transform 0.5s ease;
  overflow: hidden;
  border-radius: 50px;
}

.lang-checkbox {
  display: none;
}

.lang-toggle:hover,
.lang-toggle:focus {
  cursor: pointer;
  transform: scale(1.1);
}

.lang-toggle p {
  font-size: 1.6rem;
  position: absolute;
  color: var(--cor-texto);
  font-family: var(--fonte-primaria);
  font-weight: 700;
  transition: transform 0.5s ease, opacity 0.5s ease, color 0.5s ease;
}

.lang-button.pt-br {
  opacity: 0;
  transform: translateX(50px);
}

.lang-button.eng {
  color: var(--cor-texto);
  transform: translateX(0px);
}

.lang-checkbox:checked ~ .lang-toggle .lang-button.pt-br {
  opacity: 1;
  transform: translateX(0px);
}

.lang-checkbox:checked ~ .lang-toggle .lang-button.eng {
  opacity: 0;
  transform: translateX(-50px);
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1370px;
  padding: 17vh 50px;
  gap: 30px;
}

.apresentacao-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 59.86%;
  transition: 0.5s ease;
}

.apresentacao-conteudo-intro {
  font-family: var(--fonte-secundaria);
  color: var(--cor-texto);
  letter-spacing: -0.05em;
  font-size: 2rem;
}

.apresentacao-conteudo-nome {
  font-family: var(--fonte-primaria);
  color: var(--cor-texto);
  font-size: 7rem;
}

.apresentacao-conteudo-titulo {
  font-family: var(--fonte-primaria);
  color: var(--cor-destaque);
  font-size: 7rem;
}

.apresentacao-conteudo-texto {
  font-family: var(--fonte-primaria);
  color: var(--cor-texto);
  font-size: 2rem;
  font-weight: 400;
}

.apresentacao-conteudo-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.apresentacao-conteudo-links-link {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}

.apresentacao-conteudo-links-link-texto {
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  color: var(--cor-texto);

  font-size: 3.2rem;

  padding: 5% 0;
}

.apresentacao-conteudo-links-link-texto:hover,
.apresentacao-conteudo-email:hover {
  color: var(--cor-destaque);
  text-decoration: underline;
  transition: 0.3s;
}

.link-icon {
  font-size: 4rem;
  color: var(--cor-destaque);
}

.apresentacao-conteudo-email {
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  color: var(--cor-texto);
  text-decoration: none;
  font-size: 3.2rem;
  text-align: center;
}

.apresentacao-foto {
  width: 40.14%;
  height: auto;
}

@media (max-width: 1580px) {
  .apresentacao {
    /* max-width: 1135.5px; */
    padding: 15vh 6vw;
  }

  .apresentacao-conteudo-intro,
  .apresentacao-conteudo-texto {
    font-size: 2rem;
  }

  .apresentacao-conteudo-nome,
  .apresentacao-conteudo-titulo {
    font-size: 6.4rem;
  }
}

@media (max-width: 1365px) {
  .theme-button {
    margin: 60px 0 0 0;
  }

  .apresentacao {
    flex-direction: column-reverse;
    padding: 2vh 6vw;
  }

  .apresentacao-conteudo {
    max-width: 677px;
    width: 100%;
  }
}

@media (max-width: 1150px) {
  .apresentacao {
    flex-direction: column-reverse;
    /* padding: 2vh ; */
    /* margin: 0; */
  }

  .apresentacao-foto {
    width: 50%;
  }

  .eng {
    font-size: 6rem;
  }
}

@media (max-width: 650px) {
  .apresentacao-conteudo-links {
    flex-direction: column;
    gap: 10px;
    justify-content: left;
  }

  .apresentacao-conteudo-intro,
  .apresentacao-conteudo-texto {
    font-size: 1.8rem;
  }

  .apresentacao-conteudo-nome,
  .apresentacao-conteudo-titulo {
    font-size: 3.8rem;
  }

  .eng {
    font-size: 3.3rem;
  }

  .apresentacao-conteudo-links-link-texto,
  .apresentacao-conteudo-email {
    font-size: 2.3rem;
  }

  .apresentacao-conteudo-links-link {
    gap: 20px;
  }

  .link-icon {
    font-size: 2.8rem;
  }

  .apresentacao-foto {
    width: 80%;
  }
}

.dark-theme {
  --cor-fundo: #160029;
  --cor-destaque: #ba71fe;
  --cor-base: #4d0194;
  --cor-texto: #f5ebff;
  --cor-texto-sec: #fae3e3;
}

.light-theme {
  --cor-fundo: #f5ebff;
  --cor-destaque: #4d0194;
  --cor-base: #4d0194;
  --cor-texto: #000000;
  --cor-texto-sec: #4d0194;
}

/* Dark theme animations inspired in Chaoo Charles 
https://www.youtube.com/watch?v=OoARU-ZmseA&ab_channel=ChaooCharles */
