@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Inter:wght@400;600;700;900&display=swap");

:root {
  --fonte-primaria: "Inter", sans-serif;
  --fonte-secundaria: "Fira Code", monospace;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--cor-fundo);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme-button {
  padding: 50px 0 0 0;

  @media (max-width: 650px) {
    padding: 30px 0 0 0;
    width: 30px;
    height: auto;
  }
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1370px;
  padding: 17vh 50px;
  gap: 30px;
  /* width: 71.35%; */
}

.apresentacao-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 59.86%;
}

.apresentacao-conteudo-intro {
  font-family: var(--fonte-secundaria);
  color: var(--cor-texto);
  letter-spacing: -0.05em;
  font-size: 2rem;
}

.apresentacao-conteudo-nome {
  font-family: var(--fonte-primaria);
  color: var(--cor-texto);
  font-size: 7rem;
}

.apresentacao-conteudo-titulo {
  font-family: var(--fonte-primaria);
  color: var(--cor-destaque);
  /* letter-spacing: 0.02em; */
  font-size: 7rem;
}

.apresentacao-conteudo-texto {
  font-family: var(--fonte-primaria);
  color: var(--cor-texto);
  font-size: 2rem;
  font-weight: 400;
}

.apresentacao-conteudo-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.apresentacao-conteudo-links-link {
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  color: var(--cor-texto);
  text-decoration: none;
  font-size: 3.2rem;

  padding: 5% 0;

  display: flex;
  align-items: center;
  gap: 20px;
}

.apresentacao-conteudo-links-link:hover,
.apresentacao-conteudo-email:hover {
  color: var(--cor-destaque);
  text-decoration: underline;
  transition: 0.3s;
}

.apresentacao-conteudo-email {
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  color: var(--cor-texto);
  text-decoration: none;
  font-size: 3.2rem;
  text-align: center;
}

/* .apresentacao-conteudo-links-link-icone {
    width: 100%;
} */

.apresentacao-foto {
  width: 40.14%;
  height: auto;
}

@media (max-width: 1580px) {
  .apresentacao {
    /* max-width: 1135.5px; */
    padding: 15vh 6vw;
  }

  .apresentacao-conteudo-intro,
  .apresentacao-conteudo-texto {
    font-size: 2rem;
  }

  .apresentacao-conteudo-nome,
  .apresentacao-conteudo-titulo {
    font-size: 6.4rem;
  }
}

@media (max-width: 1367px) {
  .apresentacao {
    flex-direction: column-reverse;
  }

  .apresentacao-conteudo {
    width: 100%;
  }
}

@media (max-width: 1150px) {
  .apresentacao {
    flex-direction: column-reverse;
    padding: 30px;
    margin: 0;
  }

  .apresentacao-foto {
    width: 50%;
  }
}

@media (max-width: 650px) {
  .apresentacao-conteudo-links {
    flex-direction: column;
    gap: 10px;
    justify-content: left;
  }

  .apresentacao-conteudo-intro,
  .apresentacao-conteudo-texto {
    font-size: 1.8rem;
  }

  .apresentacao-conteudo-nome,
  .apresentacao-conteudo-titulo {
    font-size: 3.8rem;
  }

  .apresentacao-conteudo-links-link,
  .apresentacao-conteudo-email {
    font-size: 2.5rem;
  }

  .apresentacao-foto {
    width: 80%;
  }
}

.dark-theme {
  --cor-fundo: #160029;
  --cor-destaque: #ba71fe;
  --cor-base: #4d0194;
  --cor-texto: #f5ebff;
  --cor-texto-sec: #fae3e3;
}

.light-theme {
  --cor-fundo: #f5ebff;
  --cor-destaque: #4d0194;
  --cor-base: #4d0194;
  --cor-texto: #000000;
  --cor-texto-sec: #4d0194;
}
